<!DOCTYPE HTML>
<html lang="en">

<head>
    <%- include("../partials/admin-header.ejs") %>
</head>

<body>
    <main>
        <%- include("./logins/admin.login.ejs") %>
    </main>
    <%- include("./components/script/script.ejs") %>
</body>
</html>