
<div class="social-icons single-share">
    <ul class="text-grey-5 d-inline-block">
        <li><strong class="mr-10">Share this:</strong></li>
        <li class="social-facebook"><a href="#"><img src="/user/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
        </li>
        <li class="social-twitter"> <a href="#"><img src="/user/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
        </li>
        <li class="social-instagram"><a href="#"><img src="/user/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
        </li>
        <li class="social-linkedin"><a href="#"><img src="/user/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
        </li>
    </ul>
</div>