<div class="banner-img banner-big wow fadeIn f-none animated mt-50">
    <img class="border-radius-10" src="/user/assets/imgs/banner/banner-4.png" alt="">
    <div class="banner-text">
        <h4 class="mb-15 mt-40">EXPLORE DISNEY</h4>
        <h2 class="fw-600 mb-20">Decorate Your Disney Grotto Today.</h2>
    </div>
</div>