<footer class="main-footer font-xs">
    <div class="row">
        <div class="col-sm-6">
            <script>
            document.write(new Date().getFullYear())
            </script> ©, traction
        </div>
        <div class="col-sm-6">
            <div class="text-sm-end">
                All rights reserved
            </div>
        </div>
    </div>
</footer>