<div class="content-header">
    <div>
        <h2 class="content-title card-title">Order List </h2>
    </div>
    <div>
        <input type="text" placeholder="Search order ID" class="form-control bg-white">
    </div>
</div>