<section class="content-main">
  <form id="myForm">
    <div class="row">
      <div class="col-9">
        <div class="content-header">
          <h2 class="content-title">Add New Product</h2>

        </div>
      </div>
      <div class="col-lg-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="mb-4">
              <label for="productName" class="form-label">Product title</label>
              <input type="text" placeholder="Type here" class="form-control" id="productName" name="productName"
                required>
            </div>
            <div class="mb-4">
              <label class="form-label">Full description</label>
              <textarea placeholder="Type here" class="form-control" rows="4" id="productDescription"
                name="productDescription" required></textarea>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Regular price</label>
                  <div class="row gx-2">
                    <input placeholder="₹" type="number" class="remove-arrow form-control" id="productPrice"
                      name="productPrice" required>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Old price</label>
                  <input placeholder="₹" type="number" class="remove-arrow form-control" id="productOldPrice"
                    name="productOldPrice" required>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Stocks</label>
                  <input placeholder="999" type="number" class="remove-arrow form-control" id="stocks" name="stocks"
                    required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="row gx-2">
                <div class="col-sm-6 mb-3">
                  <label class="form-label">Category</label>
                  <select class="form-select" name="productCategory" id="productCategory" required>
                    <option selected hidden>Add to Category</option>
                    <% categories.forEach(category=> { %>
                      <% if(category.active) { %>
                        <option value="<%= category._id %>">
                          <%= category.name %>
                        </option>
                        <% } %>
                          <% }); %>
                  </select>
                  <label class="form-label">Featured</label>
                  <select class="form-select" name="featured" id="featured" required>
                        <option value="false">Not featured</option>
                        <option value="true">featured</option>
                  </select> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-3 w-100">
        <div class="card shadow-sm w-100">
          <div class=" card-body d-flex justify-content-between">
            <label for="productImage" class="button">
              <h4>Media</h4>
            </label>
            <input required onchange="imageSelect()" class="d-none" type="file" name="productImage" id="productImage"
              multiple>
            <button type="button" class="btn btn-sm btn-info"
              onclick="document.getElementById('productImage').click()">Choose</button>
          </div>
          <div class="card-body d-flex flex-wrap justify-content-start" id="image-preview">

          </div>
        </div>
      </div>

      <div class="content-header">
        <div>
          <button type="submit" id="add-product-btn" class="btn btn-md rounded font-sm hover-up">Add product</button>
        </div>
      </div>

    </div>
  </form>
</section>

<style>
  .image_container {
  position: relative;
  border: 2px solid #00000013;
  border-radius: 2px;
  overflow: hidden;
}
</style>