<section class="home-slider position-relative pt-25 pb-20" style="min-height: 580px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 ">

        <form id="myForm" action="/admin/add-banner" method="post" enctype="multipart/form-data">
          <div class="mb-4">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" placeholder="Type here" class="form-control" id="bannerTitle" />
          </div>
          <div class="mb-4">
            <label for="bannerId" class="form-label">Banner number</label>
            <select required class="form-select" name="bannerNumber">
              <option value="1">Banner 1</option>
              <option value="2">Banner 2</option>
            </select>
          </div>
          <div class="mb-4">
            <label for="bannerImage" class="form-label">Banner image</label>
            <input type="file" name="bannerImage" class="form-control" id="bannerImage" onchange="previewImage(event)" accept="image/*" required />
          </div>
          <div class="mb-4">
            <img id="preview" src="#" alt="Preview" style="max-width: 100%; height: auto; display: none;">
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Add banner</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<style>
  #bannerImage {
    max-width: 500px;
    max-height: 250px;
    width: 100%;
    /* Add this line to ensure consistent width */
    border-radius: 20px;
    object-fit: cover;
  }
</style>
<script>
  function previewImage(event) {
    const input = event.target;
    const preview = document.getElementById('preview');

    if (input.files && input.files[0]) {
      const reader = new FileReader();
      reader.onload = function(e) {
        preview.src = e.target.result;
        preview.style.display = 'block';
      };
      reader.readAsDataURL(input.files[0]);
    } else {
      preview.src = '#';
      preview.style.display = 'none';
    }
  }
</script>
<script>
  document.getElementById("myForm").addEventListener("submit", function(event) {
    event.preventDefault();
    handleFormSubmission();
  });

  function validateImage(file) {
    const allowedTypes = ['image/jpeg', 'image/png', 'image/jpg'];
    const maxSize = 2 * 1024 * 1024; // 2MB
    if (!allowedTypes.includes(file.type)) {
      swal('Error', 'Only JPEG and PNG images are allowed', 'error');
      return false;
    }
    if (file.size > maxSize) {
      swal('Error', 'The image size should be within 5MB', 'error');
      return false;
    }
    return true;
  }
  function handleFormSubmission() {
    var form = document.getElementById("myForm");
    var fileInput = document.getElementById("bannerImage");
    var file = fileInput.files[0];
    if (!validateImage(file)) {
      return;
    }

    var formData = new FormData(form);

    var formFields = form.querySelectorAll("input[type='text'], select");
  var isEmpty = false;
  formFields.forEach(function(field) {
    if (field.value.trim() === "") {
      isEmpty = true;
      field.classList.add("is-invalid");
    } else {
      field.classList.remove("is-invalid");
    }
  });

 
  if (isEmpty || file === undefined) {
    swal("Error", "Please fill in all required fields and select an image", "error");
    return;
  }

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/admin/add-banner");
    xhr.onload = function() {
      if (xhr.status === 200) {
        var response = JSON.parse(xhr.responseText);

        if (response.status) {
          swal("Success", response.message, "success").then(function() {
            window.location.href = "/admin/banners";
          });
        } else {
          swal("Error", response.message, "error");
        }
      } else {
        swal("Error", "An error occurred during form submission", "error");
      }
    };
    xhr.send(formData);
  }
</script>