<div class="col-lg-12">
    <div class="card mb-4">
        <article class="card-body">
            <h5 class="card-title">Sale statistics</h5>
            <canvas id="myChart" height="120px"></canvas>
        </article>
    </div>
    <!-- <div class="row">
        <div class="col-lg-5">
            <div class="card mb-4">
                <article class="card-body">
                    <h5 class="card-title">New Members</h5>
                    <div class="new-member-list">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="d-flex align-items-center">
                                <img src="/admins/assets/imgs/people/avatar4.jpg" alt="" class="avatar">
                                <div>
                                    <h6>Patric Adams</h6>
                                    <p class="text-muted font-xs">
                                        Sanfrancisco
                                    </p>
                                </div>
                            </div>
                            <a href="#" class="btn btn-xs"><i class="material-icons md-add"></i> Add</a>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="d-flex align-items-center">
                                <img src="/admins/assets/imgs/people/avatar2.jpg" alt="" class="avatar">
                                <div>
                                    <h6>Dilan Specter</h6>
                                    <p class="text-muted font-xs">
                                        Sanfrancisco
                                    </p>
                                </div>
                            </div>
                            <a href="#" class="btn btn-xs"><i class="material-icons md-add"></i> Add</a>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="d-flex align-items-center">
                                <img src="/admins/assets/imgs/people/avatar3.jpg" alt="" class="avatar">
                                <div>
                                    <h6>Tomas Baker</h6>
                                    <p class="text-muted font-xs">
                                        Sanfrancisco
                                    </p>
                                </div>
                            </div>
                            <a href="#" class="btn btn-xs"><i class="material-icons md-add"></i> Add</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card mb-4">
                <article class="card-body">
                    <h5 class="card-title">Recent activities</h5>
                    <ul class="verti-timeline list-unstyled font-sm">
                        <li class="event-list">
                            <div class="event-timeline-dot">
                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                            </div>
                            <div class="media">
                                <div class="me-3">
                                    <h6><span>Today</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                </div>
                                <div class="media-body">
                                    <div>
                                        Lorem ipsum dolor sit amet consectetur
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="event-list active">
                            <div class="event-timeline-dot">
                                <i class="material-icons md-play_circle_outline font-xxl animation-fade-right"></i>
                            </div>
                            <div class="media">
                                <div class="me-3">
                                    <h6><span>17 May</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                </div>
                                <div class="media-body">
                                    <div>
                                        Debitis nesciunt voluptatum dicta reprehenderit
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="event-list">
                            <div class="event-timeline-dot">
                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                            </div>
                            <div class="media">
                                <div class="me-3">
                                    <h6><span>13 May</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                </div>
                                <div class="media-body">
                                    <div>
                                        Accusamus voluptatibus voluptas.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="event-list">
                            <div class="event-timeline-dot">
                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                            </div>
                            <div class="media">
                                <div class="me-3">
                                    <h6><span>05 April</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                </div>
                                <div class="media-body">
                                    <div>
                                        At vero eos et accusamus et iusto odio dignissi
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="event-list">
                            <div class="event-timeline-dot">
                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                            </div>
                            <div class="media">
                                <div class="me-3">
                                    <h6><span>26 Mar</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                </div>
                                <div class="media-body">
                                    <div>
                                        Responded to need “Volunteer Activities
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </article>
            </div>
        </div>
    </div> -->
</div>