<section class="home-slider position-relative pt-25 pb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="position-relative">
                    <div class="hero-slider-1 style-3 dot-style-1 dot-style-1-position-1">
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="slider-1-height-3 slider-animated-1">
                                    <div class="hero-slider-content-2">
                                        <h4 class="animated" >Trade-In Offer</h4>
                                        <h2 class="animated fw-900" >Super Value Deals</h2>
                                        <h1 class="animated fw-900 text-brand">On All Products</h1>
                                        <p class="animated" >Save more with coupons & up to 70% off</p>
                                        <a class="animated btn btn-brush btn-brush-3" href="/shop">Shop Now</a>
                                    </div>
                                    <div class="slider-img">
                                        <% if (banner?.length>0) { %>
                                            <img src="<%= banner[0]?.imageURL %>" alt="" style="max-width: 100%; height: auto;">
                                            <% } else { %>
                                                <img src="/user/assets/imgs/slider/slider-8new.png" alt="" style="max-width: 100%; height: auto;">
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="slider-1-height-3 slider-animated-1">
                                    <div class="hero-slider-content-2">
                                        <h4 class="animated">Tech Promotions</h4>
                                        <h2 class="animated fw-900">Tech Trending</h2>
                                        <h1 class="animated fw-900 text-brand">Great Collection</h1>
                                        <p class="animated">Save more with coupons & up to 20% off</p>
                                        <a class="animated btn btn-brush btn-brush-3" href="/shop">Shop Now</a>
                                    </div>
                                    <div class="slider-img">
                                        <% if (banner?.length>0) { %>
                                            <img src="<%= banner[1]?.imageURL %>" alt="" style="max-width: 100%; height: auto;">
                                            <% } else { %>
                                                <img src="/user/assets/imgs/slider/slider-5new.png" alt="" style="max-width: 100%; height: auto;">
                                       
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                    <div class="slider-arrow hero-slider-1-arrow style-3"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 d-lg-block">
               
               
                <div class="banner-img banner-1 wow fadeIn  animated home-3">
                    <img class="border-radius-10" src="/user/assets/imgs/banner/banner-4new.png" alt="">
                    <div class="banner-text">
                        <span>Accessories</span>
                        <h4>Save 17% on <br>Autumn Hat</h4>
                        <a href="/shop">Shop Now <i class="fi-rs-arrow-right"></i></a>
                    </div>
                </div>
                
                
                <div class="banner-img banner-2 wow fadeIn  animated mb-0">
                    <img class="border-radius-10" src="/user/assets/imgs/banner/banner-7new.png" alt="">
                    <div class="banner-text">
                        <span>Smart Offer</span>
                        <h4>Save 20% on <br>Eardrop</h4>
                        <a href="/shop">Shop Now <i class="fi-rs-arrow-right"></i></a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>