<div class="page-header breadcrumb-wrap">
  <div class="container">
    <div class="breadcrumb">
      <a href="/" rel="nofollow">Home</a>
      <span></span> Shop
      <span></span> Checkout
    </div>
    <div class="secureContainer"> <img src="https://constant.myntassets.com/checkout/assets/img/sprite-secure.png" class="secureIcon" width="26" height="28">
      <div class="secure">100% SECURE</div>
    </div>
  </div>
</div>